*{
	padding:0; 
	margin:0;
}
a{
	color:black;
	font-size:15px;
	vertical-align: top;
}
body{
	padding-bottom:30px;
	background-color:#292929;
	font-family: "oswald",sans-serif;
	font-weight:100;
}

p{
	font-family: "oswald",sans-serif;
	font-size:24px;
	color:#E8F1E8;
	margin-left:9%;
	width:80%;
	font-weight:100;
}

h1, h3, h4, h5, h6{
	font-family: "oswald",sans-serif;
	color:white;
	margin-top:8%;
	font-weight:100;
}
h2{
	text-align: center;
	color:#808080;
	z-index:1;
}
footer{
	border:solid 3px white;
	margin-top:5%;
	background-color:white;
}
i{
	vertical-align: top;
}
.intro{
	font-family: "oswald",sans-serif;
	color:#808080;
	font-size:16px;
	font-weight:100;
}

.background{
	width:100%;
	height:50%;
	margin-right:50%;
	z-index: -1;
	margin-bottom:10%;

}

.dc{
	width: 100%;
    background-size: cover;
    height: 100vh;
    text-align: center;
    position:relative;
}

#myself{
	font-size:65px;
	text-align: center;
	margin-bottom:22%;
	margin-top:2%;
	color:white;
	position: absolute;
	top:8%;
	left:0;
	width:100%;
}

#skills{
	margin:42% 0 5% 45%;
	font-size:38px;
	color:black;
}


.thumbnail:hover #ux-hide{
	display:block;
	opacity:1.0;
	color:#000000;
}

#contact {
	font-size:38px;
	margin-top:%;
	color:#808080;
	margin-left:44%;
}

.quote{
	color:white;
	margin-bottom:5%;
	font-size:22px;
	font-style:hagin;
}

.programmer{
	margin-top:6%;
}
.seo{
	margin-top:3%;
}

.music:hover{
	background-color:yellow;
}

.contact{
	text-align: center;
	margin:0px;
	padding:0px;
}
.name{
	color:#808080;
	display:inline-block;
}
.phone {
	color:#808080;
	text-align:right;
	float:right;
}
.row2{
	text-align: center;
	
}

.links{
	text-align: right;
	font-size:15px;
	text-decoration:underline;
	text-align;right;
	width:100%;
	z-index:1;
	margin-right:5%;
}
.project-container{
	height:100%;
}

.lead{
	margin-bottom:3%;
	font-size:25px;
	text-align: center;
}
.skills-word{
	font-family: "oswald",sans-serif;
	font-size:15px;
	color:#E8F1E8;
	margin-left:9%;
	width:80%;
	font-weight:100;
}

.me {
	color:#E8F1E8;
	margin:0 0 2% 44%;
	font-size:38px;
}

#projects{
	text-align: center;
	color:white;
	font-size:38px;
}
.row3{
	height:100%;
	margin:46% 0% 35% 0%;
	background-color: #E6E5E1;
}
.title{
	text-align: center;
	font-size:20px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  height:100%;
  width:100%;
  z-index: 2;
}

.quote{
	color:#000000;
	text-align: center;
}

.education,.sales,.coding{
	margin-right:57%;
	font-size:20px;
}

.more-info{
	color:black;
	font-size:20px;
}

.mail,.resume{
	vertical-align: top;
}
.home{
	text-align: left;
}
.hovereffect {
width:100%;
height:100%;
margin-bottom:37%;
float:left;
background-color:#E6E5E1;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin-left:25%;
}

.hovereffect .overlay {
width:72%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:grey;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

